 <% if flash[:notice] %>
<%= flash[:notice] %>
 <% end %>
  <script>
    videojs.options.flash.swf = "video-js.swf";
  </script>
  <div class="page-header">
<h3><i class="fa fa-film"></i> <%= @episode.season.name  -%> <small><%= @episode.name -%></small></h3>
</div>
<p>
<center>
<video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="640" height="264"
      poster="<%= @episode.image_url -%>"
      data-setup="{}">
    <source src="<%= @episode.video_url -%> " type='video/mp4' />
    <source src="<%= @episode.video_url -%>" type='video/webm' />
    <source src="<%= @episode.video_url -%>" type='video/ogg' />
    <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
    <track kind="subtitles" src="<%= @episode.subtitle_url -%>" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
  
  </video>
  </center>
</p>
<div class="row">
<div id="likes" class="pull-left">
<%= render "watch/likes" -%>&nbsp;

</div>
<div class="pull-right well well-sm">
<%= @episode.veiws %>  Veiws
</div>
</div>
<br /><br />
<div class="row">
<p><strong>IMDB Rating:</strong>
<%= @episode.imdb_rating %>
</p>

<p><strong>Storyline:</strong>
<%= @episode.storyline %>...<%= link_to "More(IMDB)", @episode.imdb_link %>
</p>

<div class="col-md-1">
<%= button_to "Subtitle", @episode.subtitle_url, class: "btn btn-primary" %>
</div>
<div class="col-md-5">
<%= button_to ".Torrent", @episode.torrent_url, class: "btn btn-default" %>
</div>
<br /><br /> 

<h3><div class="page-header">Comments</div></h3>
<% @reveiws.each do |reveiw| -%>
    <h4><strong><%= reveiw.username %> <small><%= reveiw.updated_at %></small></strong></h4>
    <%= reveiw.content -%>
<% end -%>
<h4><div class="page-header">Post A Comment</div></h4>
<div class="container">

<%= form_for(@comment, :url => {:action => 'create_comment'}) do |f| %>
    <div class="field">
    
    <%= f.hidden_field :episode_id, :value => @episode.id %>
    </div>
    
    <% if session[:username] %>
           <%= f.hidden_field :username, :value => session[:username]%>
    <% else %>
    <div class="field">
    <p>Name </p> 
  <%= f.text_field :username,class: "form-control" %>
    </div>
    <% end -%>
<br />
    <div class="field">
<p>Comment</p> 
    <%= f.text_area :content, :cols => '120', :rows => '3',class: "form-control" %>
    </div>
<br />
    <div class="actions">
    <%= f.submit('Post', class: 'btn btn-primary pull-right') %>
    </div>

<% end %>
</div>
</div>