<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <%= link_to "WatchTvSeries", {:controller => 'watch', :action => 'home'}, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Serials", :controller => 'watch', :action => 'home' %></li>
        <% unless session[:username] %>
        <li><%= link_to "Login", :controller => 'watch', :action => 'login' %></li>
        <li><%= link_to "Sign Up", :controller => 'watch', :action => 'signup' %></li>
        <% end -%>
        <li><%= link_to "About", :controller => 'watch', :action => 'about' %></li>
        <li><%= link_to "Contact Us", :controller => 'watch', :action => 'contact' %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <% if session[:username] %>
        <li><%= link_to "Logout", {:controller => 'watch', :action => 'logout'}%></li>
  
         <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
